<div ng-controller="homeCtrl">
    <div class="home-container">
        <div class="home-center">
            <h1>Spotify Collab - easily manage collaborative playlists.</h1>
        </div>
        <div class="home-container home-container-inner">
            <div class="home-center">

                <p>Create and share collaborative playlists with friends. <br><br>Each collaborator on a playlist can
                    add
                    songs to a separate list of songs, which are voted on by each collaborator. Once the yes votes reach
                    a certain percentage for a specific song in the list, that song is added to the main collaborative
                    playlist.
                </p><br>
            </div>
            <ol>
                <li>Create a collaborative playlist</li>
                <li>Invite friends to collaborate</li>
                <li>Both you and your collaborators can add songs to a separate list of songs to be "voted" on</li>
                <li>Once a song reaches a certain percentage of yes votes, the song is added to the collaborative
                    playlist
                </li>
            </ol>
            <br>
            <div class="home-center">
                <button type="button" class="btn btn-primary btn-lg" ng-click="routeToLogin()">
                    Login to Spotify and start collaborating!
                </button>
            </div>
        </div>
    </div>
</div>