<div ng-controller="playlistsController">
    <div class="jumbotron">Your collaborative playlists</div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Playlist ID</th>
            <th>Playlist Name</th>
            <th>PR Link</th>
            <th>Original Link</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="playlist in playlists">
            <td>{{playlist.playlistId}}</td>
            <td><a ng-href="/#/playlist#{{playlist.playlistId}}" style="color:black;">{{playlist.playlistName}}</a></td>
            <td><a class="btn btn-primary"
                   ng-href="https://open.spotify.com/user/{{playlist.ownerId}}/playlist/{{playlist.playlistId}}">PR
                Link</a></td>
            <td><a class="btn btn-primary"
                   ng-href="https://open.spotify.com/user/{{playlist.ownerId}}/playlist/{{playlist.parentPlaylistId}}">OG
                Link</a></td>
        </tr>
        </tbody>
    </table>
</div>